<?xml version='1.1' encoding='UTF-8'?>
<user>
  <fullName>Hank Chang</fullName>
  <description></description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwGD+XXoxaETzThB2UuR+XPdSn2zcVxwgiWRVALyNn+h29k3LsUiEESgrrX6bZAKwFsKNk+/5ImkeHG+Q/MauHsA==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.20">
      <emailAddress>hank.chang@technexion.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.1.0">
      <providerId>org.jenkinsci.plugins.displayurlapi.ClassicDisplayURLProvider</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$c9oKiZRBMPDrQjfIg7webu2na0Wr8YYOHR2VebtOBpb4fRHeTDCMa</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys>ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDFAbvS+yUo9OFMekcc5A3Dn2fwkvgW6mQU3+W8Hd146iPhtzJ2eT7bs7x2aZPE8k7Y8GRv8ydTK8PxcbAfjWbu1mOr/DfkDsMmQMa3cHH2Zrc+WMin73kJIXZNEx503KQ371u54P//OD4tAjFFZC7sVylhoXed57gMb62Q+eRltb+2Uyh2td+O3KEfz2cZOAxA+LgZpk+/Qhu/PbMISXCflJ6ifD4Bm6XlcCQ2emOiaCFsKiGsx9ZcTlZGadKYE0BzR3x7OPFPXIUJcVohDTpvoarsEzDd+GgDoMzFYqaG82F7rpvvKO2u917WzltQGrXvWXhEf6JergGCnyKfOz9/ hank@hank-VB</authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1548121567763</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>