<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>docker-slave/android-8</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
cd ${HOME}
mkdir -p test
cd test
repo init -u https://github.com/technexion-android/manifest -b tn-o8.1.0_1.3.0_8m-ga
repo sync --force-sync -j12

source cookers/env.bash.imx8.pico-8m.pi.hdmi
merge_restricted_extras

## WIFI ENABLED
cp /home/jenkins/output/qca9377-3_firmware_20180927.zip .
unzip qca9377-3_firmware_20180927.zip
cp -rv qca9377-3_firmware_20180927-1/QCA9377 device/fsl/pico_8m/wifi-firmware/
mv qca9377-3_firmware_20180927-1/QCA9377 device/fsl/pico_8m_lcd/wifi-firmware/
#sed -i &apos;s/BOARD_HAS_QCA9377_WLAN_FIRMWARE := false/BOARD_HAS_QCA9377_WLAN_FIRMWARE := true/&apos; device/fsl/imx8/pico_8m.mk
#sed -i &apos;s/BOARD_HAS_QCA9377_WLAN_FIRMWARE := false/BOARD_HAS_QCA9377_WLAN_FIRMWARE := true/&apos; device/fsl/imx8/pico_8m_lcd.mk

rm -rf qca9377-3_firmware_20180927-1/
rm -rf qca9377-3_firmware_20180927.zip

## BT ENABLED
cp -rv /home/jenkins/output/nvm_tlv_3.2.bin device/fsl/pico_8m/bluetooth/
cp -rv /home/jenkins/output/rampatch_tlv_3.2.tlv device/fsl/pico_8m/bluetooth/
cp -rv /home/jenkins/output/nvm_tlv_3.2.bin device/fsl/pico_8m_lcd/bluetooth/
cp -rv /home/jenkins/output/rampatch_tlv_3.2.tlv device/fsl/pico_8m_lcd/bluetooth/
sync

cook -j4


release_date=$(date &quot;+%Y%m%d&quot;)

gen_mp_images
zip -r &quot;$release_date&quot;_auto_images_hdmi.zip auto_test
mv &quot;$release_date&quot;_auto_images_hdmi.zip /home/jenkins/output/
rm -rf auto_test


source cookers/env.bash.imx8.pico-8m.pi.lcd
cook -j4

gen_mp_images
zip -r &quot;$release_date&quot;_auto_images_lcd.zip auto_test
mv &quot;$release_date&quot;_auto_images_lcd.zip /home/jenkins/output/
rm -rf auto_test

#dd if=/dev/zero of=&quot;$release_date&quot;_emmc_16G_lcd.img bs=13M count=1024
#kpartx -av &quot;$release_date&quot;_emmc_16G_lcd.img

#loop_dev=$(losetup | grep &quot;emmc_16G_lcd.img&quot; | awk  &apos;{print $1}&apos;)

#echo &quot;mounted ${loop_dev}&quot;

#(echo n; echo p; echo 1; echo; echo; echo w;) | fdisk ${loop_dev}
#sync
#flashcard ${loop_dev}
#sync
#kpartx -d ${loop_dev}
#losetup -d ${loop_dev}
#sync
#mv &quot;$release_date&quot;_emmc_16G_lcd.img /home/jenkins/output/
#sync
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>