<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build Mender</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.copyartifact.CopyArtifactPermissionProperty plugin="copyartifact@1.39.1">
      <projectNameList>
        <string>*</string>
      </projectNameList>
    </hudson.plugins.copyartifact.CopyArtifactPermissionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>docker-slave/yocto-develop</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>data/${JOB_NAME}</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -x

set -e

# initialize technexion github yocto repository
echo ===== Repo init mender from mendersoftware github =====
${HOME}/bin/repo init -u https://github.com/mendersoftware/meta-mender-community -m meta-mender-nxp/scripts/manifest-nxp.xml -b sumo
echo ===== Repo sync mender from mendersoftware github =====
${HOME}/bin/repo sync -j16
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -x

set -e

rm -f build/conf/*

export MACHINE=imx7d-pico
source setup-environment nxp

echo &quot;ACCEPT_FSL_EULA = \&quot;1\&quot;&quot; &gt;&gt; conf\/local.conf
sed -e &quot;s,\&quot;imx7s-warp\&quot;,\&quot;imx7d-pico\&quot;,g&quot; -i conf/local.conf

bitbake core-image-base
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>build/tmp/deploy/images/*/*</artifacts>
      <allowEmptyArchive>true</allowEmptyArchive>
      <onlyIfSuccessful>true</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Mailer plugin="mailer@1.20">
      <recipients>Po Cheng &lt;po.cheng@technexion.com&gt;</recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>