<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Download imx-atf 4.14.98_2.0.0_GA for uboot-imx8mq uboot-imx8mm</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>5</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.copyartifact.CopyArtifactPermissionProperty plugin="copyartifact@1.39.1">
      <projectNameList>
        <string>*</string>
      </projectNameList>
    </hudson.plugins.copyartifact.CopyArtifactPermissionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.6.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git://source.codeaurora.org/external/imx/imx-atf.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/imx_4.14.98_2.0.0_ga</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>docker-slave/kernel</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -x

set -e

PLATFORMS=(&quot;imx8mq&quot; &quot;imx8mm&quot;)

# setup target directory
OUTDIR=/home/jenkins/build/imx-atf
[ -d ${OUTDIR}/${JOB_NAME} ] &amp;&amp; rm -fr ${OUTDIR}/${JOB_NAME} || mkdir -p ${OUTDIR}/${JOB_NAME}

# 64bits build environment
. buildenv.sh 64

make clean
make distclean
for platform in ${PLATFORMS[*]}; do
    # build bl31.bin binary
    make PLAT=${platform} bl31

    # archive
    if [ -f build/${platform}/release/bl31.bin ] ; then
        mkdir -p ${OUTDIR}/${JOB_NAME}/${platform}
        cp build/${platform}/release/bl31.bin ${OUTDIR}/${JOB_NAME}/${platform}
    else
        echo &quot;Error building bl31.bin for ${platform}&quot;
        exit 1
fi
done
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>build/*/release/bl31.bin</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>true</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.34">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>