<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>docker-slave/android-9</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -e

EXT_OUTPUT_DIR=/home/jenkins/output
EXT_BUILD_DIR=/home/jenkins/build
SSD_WORKSPACE_DIR=/home/jenkins/workspace
SSD_SRC_DIR=${SSD_WORKSPACE_DIR}/src/android9

cd ${EXT_OUTPUT_DIR}
if [ ! -d Documents ]; then
	git clone -b android-9 --depth=1 https://github.com/technexion-android/Documents.git
fi
# NOTE: &quot;cd -&quot; goes back to ${WORKSPACE}, which is equals to ${SSD_WORKSPACE_DIR}/${JOB_NAME}
cd -

if [ -d ${SSD_SRC_DIR}/.repo ]; then
	ln -s ${SSD_WORKSPACE_DIR}/src/android9/.repo .repo
else
	cd ${SSD_SRC_DIR}
	repo init -u https://github.com/technexion-android/manifest -b tn-p9.0.0_2.0.1_8m-ga --depth 1
    cd -
    ln -s ${SSD_SRC_DIR}/.repo .repo
fi
if [ -d .repo ]; then
	repo sync --force-sync -j16
fi

###########################################################
#														  #
# PICO-IMX8M                                              #
#														  #
###########################################################

# hdmi
# NFC enable
sed -i &apos;s/NFC_ACTIVE=false/NFC_ACTIVE=true/&apos; cookers/env.bash
sed -i &apos;s/DRAM_SIZE_1G=false/DRAM_SIZE_1G=true/&apos; cookers/env.bash
source cookers/env.bash.imx8.pico-imx8m.pi.hdmi
merge_restricted_extras

## WIFI ENABLED
cp ${SSD_SRC_DIR}/qca9377-3_firmware_20180927.zip .
unzip qca9377-3_firmware_20180927.zip
mkdir -p device/fsl/imx8m/pico_imx8m/wifi-firmware
mv qca9377-3_firmware_20180927-1/QCA9377 device/fsl/imx8m/pico_imx8m/wifi-firmware/

rm -rf qca9377-3_firmware_20180927-1/
rm -rf qca9377-3_firmware_20180927.zip

## BT ENABLED
cp -rv ${SSD_SRC_DIR}/nvm_tlv_3.2.bin device/fsl/imx8m/pico_imx8m/bluetooth/
cp -rv ${SSD_SRC_DIR}/rampatch_tlv_3.2.tlv device/fsl/imx8m/pico_imx8m/bluetooth/

# hdmi
cook -j8

release_date=$(date &quot;+%Y%m%d&quot;)
gen_mp_images
cp -rv ${EXT_OUTPUT_DIR}/Documents/txt/README.txt auto_test/
cp -rv ${EXT_OUTPUT_DIR}/Documents/pdf/Android-Pie_Release-Note_*.pdf auto_test/
cp -rv ${EXT_OUTPUT_DIR}/Documents/pdf/Android-Pie_User-Manual_*.pdf auto_test/
cp -rv ${EXT_OUTPUT_DIR}/uuu_tools/libusb-1.0.dll auto_test/
cp -rv ${EXT_OUTPUT_DIR}/uuu_tools/uuu auto_test/
cp -rv ${EXT_OUTPUT_DIR}/uuu_tools/uuu.exe auto_test/
cp -rv ${EXT_OUTPUT_DIR}/uuu_tools/UUU.pdf auto_test/
cp -rv ${EXT_OUTPUT_DIR}/uuu_tools/zadig-2.4.exe auto_test/
mv auto_test pico-imx8m_pico-pi-imx8m_android-9.0.0-2.0.1_QCA9377_hdmi-1920x1080_&quot;$release_date&quot;
zip -R -9 pico-imx8m_pico-pi-imx8m_android-9.0.0-2.0.1_QCA9377_hdmi-1920x1080_&quot;$release_date&quot;.zip pico-imx8m_pico-pi-imx8m_android-9.0.0-2.0.1_QCA9377_hdmi-1920x1080_&quot;$release_date&quot;/*
cp pico-imx8m_pico-pi-imx8m_android-9.0.0-2.0.1_QCA9377_hdmi-1920x1080_&quot;$release_date&quot;.zip ${EXT_OUTPUT_DIR}
rm -rf pico-imx8m_pico-pi-imx8m_android-9.0.0-2.0.1_QCA9377_hdmi-1920x1080_&quot;$release_date&quot;/

###########################################################
#														  #
# PICO-IMX8MM                                             #
#														  #
###########################################################

# mipi panel
# NFC enable
sed -i &apos;s/NFC_ACTIVE=false/NFC_ACTIVE=true/&apos; cookers/env.bash
sed -i &apos;s/DRAM_SIZE_1G=false/DRAM_SIZE_1G=true/&apos; cookers/env.bash
source cookers/env.bash.imx8.pico-imx8m-mini.pi.mipi-dsi_ili9881c

## WIFI ENABLED
cp ${SSD_SRC_DIR}/qca9377-3_firmware_20180927.zip .
unzip qca9377-3_firmware_20180927.zip
mkdir -p device/fsl/imx8m/pico_imx8mm/wifi-firmware
mv qca9377-3_firmware_20180927-1/QCA9377 device/fsl/imx8m/pico_imx8mm/wifi-firmware/

rm -rf qca9377-3_firmware_20180927-1/
rm -rf qca9377-3_firmware_20180927.zip

## BT ENABLED
cp -rv ${SSD_SRC_DIR}/nvm_tlv_3.2.bin device/fsl/imx8m/pico_imx8mm/bluetooth/
cp -rv ${SSD_SRC_DIR}/rampatch_tlv_3.2.tlv device/fsl/imx8m/pico_imx8mm/bluetooth/

# ili8991c
throw
cook -j8

release_date=$(date &quot;+%Y%m%d&quot;)

gen_mp_images
cp -rv ${EXT_OUTPUT_DIR}/Documents/txt/README.txt auto_test/
cp -rv ${EXT_OUTPUT_DIR}/Documents/pdf/Android-Pie_Release-Note_*.pdf auto_test/
cp -rv ${EXT_OUTPUT_DIR}/Documents/pdf/Android-Pie_User-Manual_*.pdf auto_test/
cp -rv ${EXT_OUTPUT_DIR}/uuu_tools/libusb-1.0.dll auto_test/
cp -rv ${EXT_OUTPUT_DIR}/uuu_tools/uuu auto_test/
cp -rv ${EXT_OUTPUT_DIR}/uuu_tools/uuu.exe auto_test/
cp -rv ${EXT_OUTPUT_DIR}/uuu_tools/UUU.pdf auto_test/
cp -rv ${EXT_OUTPUT_DIR}/uuu_tools/zadig-2.4.exe auto_test/
mv auto_test pico-imx8mm_pico-pi-imx8m_android-9.0.0-2.0.1_QCA9377_mipi-dsi-ili9881c-1280x720_&quot;$release_date&quot;
zip -R -9 pico-imx8mm_pico-pi-imx8m_android-9.0.0-2.0.1_QCA9377_mipi-dsi-ili9881c-1280x720_&quot;$release_date&quot;.zip pico-imx8mm_pico-pi-imx8m_android-9.0.0-2.0.1_QCA9377_mipi-dsi-ili9881c-1280x720_&quot;$release_date&quot;/*
cp pico-imx8mm_pico-pi-imx8m_android-9.0.0-2.0.1_QCA9377_mipi-dsi-ili9881c-1280x720_&quot;$release_date&quot;.zip ${EXT_OUTPUT_DIR}
rm -rf pico-imx8mm_pico-pi-imx8m_android-9.0.0-2.0.1_QCA9377_mipi-dsi-ili9881c-1280x720_&quot;$release_date&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*.zip</artifacts>
      <allowEmptyArchive>true</allowEmptyArchive>
      <onlyIfSuccessful>true</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Mailer plugin="mailer@1.20">
      <recipients>Wig Cheng&lt;wig.cheng@technexion.com&gt;; Hank Chang &lt;hank.chang@technexion.com&gt;</recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.ws__cleanup.WsCleanup plugin="ws-cleanup@0.34">
      <patterns class="empty-list"/>
      <deleteDirs>false</deleteDirs>
      <skipWhenFailed>false</skipWhenFailed>
      <cleanWhenSuccess>true</cleanWhenSuccess>
      <cleanWhenUnstable>true</cleanWhenUnstable>
      <cleanWhenFailure>false</cleanWhenFailure>
      <cleanWhenNotBuilt>true</cleanWhenNotBuilt>
      <cleanWhenAborted>true</cleanWhenAborted>
      <notFailBuild>true</notFailBuild>
      <cleanupMatrixParent>false</cleanupMatrixParent>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.WsCleanup>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.34">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>